<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAHUKApass2">

        <!-- Màn hình nhập SĐT -->
        <activity
            android:name=".ManHinhDangKySdtActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình đăng ký bước 2 -->
        <activity
            android:name=".ManHinhDangKyTrang2Activity"
            android:exported="false" />

    </application>

</manifest>