<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Giỏ Hàng"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GioHang">

        <activity
            android:name=".GioHangActivity"
            android:exported="true"
            android:label="Giỏ Hàng">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DonDatHangActivity"
            android:exported="false"
            android:label="Đơn Đặt Hàng" />

        <activity
            android:name=".ThanhToanQrActivity"
            android:exported="false"
            android:label="Thanh Toán QR" />

        <activity
            android:name=".DatHangThanhCongActivity"
            android:exported="false"
            android:label="Đặt Hàng Thành Công" />

        <activity
            android:name=".ChinhSuaDiaChiActivity"
            android:exported="false"
            android:label="Địa Chỉ Mới" />

        <activity
            android:name=".SoDiaChiActivity"
            android:exported="false"
            android:label="Sổ Địa Chỉ" />

    </application>

</manifest>
